body{
  width:100%;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  color:#231f20;
  font-size: 0.9375rem;
}
main{
  overflow: hidden;
}
.container {
  position: relative;
}
:focus{
  outline: none;
}
@-webkit-keyframes rotate{
  0%{
      -webkit-transform:rotate(0deg);
              transform:rotate(0deg);
  }
  100%{
      -webkit-transform:rotate(360deg);
              transform:rotate(360deg)
  }
}
@keyframes rotate{
  0%{
      -webkit-transform:rotate(0deg);
              transform:rotate(0deg);
  }
  100%{
      -webkit-transform:rotate(360deg);
              transform:rotate(360deg)
  }
}
@media(max-width:767px){
  .container{
      padding:0 30px;
  }
}
.logo{
  display: block;
}
h3{
  font-size: 1.25rem;
  margin-bottom: 0;
}
.font-weight-600{
  font-weight: 500;
}
.circular-bg{
background: #ff0042;
background: -moz-linear-gradient(top, #ff0042 0%, #3600ff 100%);
background: -webkit-linear-gradient(top, #ff0042 0%,#3600ff 100%);
background: linear-gradient(to bottom, #ff0042 0%,#3600ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0042', endColorstr='#3600ff',GradientType=0 );
}
.gradient-bg{
  background: #ff0042;
  background: -webkit-gradient(linear,  left top, right top,  from(#ff0042),to(#3600ff));
  background: -o-linear-gradient(left,  #ff0042 0%,#3600ff 100%);
  background: linear-gradient(to right,  #ff0042 0%,#3600ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0042', endColorstr='#3600ff',GradientType=1 );

}
.title, .title-white{
  font-size:3.125rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 0;
  color:#333333;
}
.title small{
font-size: 16px;
display: block;
margin-top: 20px;
max-width: 400px;
line-height: 1.4;
color:#000;
}
.title-white{
  color:#ffffff;
}
.title:after,.title-white:after{
  
  content:"";
  display: block;
  width:6.25rem;
  height: 0.3125rem;
  margin-top: 1.5rem;
  background: #ff0042;
  background: -webkit-gradient(linear,  left top, right top,  from(#ff0042),to(#3600ff));
  background: -o-linear-gradient(left,  #ff0042 0%,#3600ff 100%);
  background: linear-gradient(to right,  #ff0042 0%,#3600ff 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0042', endColorstr='#3600ff',GradientType=1 );
}
.title-white:after{
  background:#ffffff;
}

@media(max-width:767px){
  .title, .title-white{
      font-size:2rem;
      max-width: 200px;
  }
  .title:after,.title-white:after{
      width:70px;
  }
}
body{
  /* background: url(../img/banner-right-bg.png) top right no-repeat; */
  padding-top: 4.5rem;
}
@media(max-width:768px){
  body{
      padding-top: 0;
  }
}
section{
  padding:6.5rem 0;
}

@media(max-width:767px){
  section{
      padding:1.5rem 0;
  }
}
/*#region header */
.navbar-light .navbar-nav .nav-link{
  font-size: 13px;
  padding:1.5rem 0;
  margin-left: 0.25rem;
  width: 112px;
  text-align: center;
  border-bottom:4px solid transparent;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link{
  color:#FF0042;
  font-weight: bold;
  border-color:#FF0042;
}
.navbar-light .navbar-toggler {
  border: none;
  outline:none;
}

.navbar-light .navbar-toggler-icon {
  background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(226, 0, 93, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
@media(max-width:767px){
  .navbar-light .navbar-nav .nav-link{
      width: auto;
      padding:0.5rem;
      display: inline-block;
      font-size:1.2rem;
  }
  .navbar-nav{

      height: 100vh;        
      min-height: calc(100vh - 40px);
      padding:1rem 0 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: auto;
  }
  li.nav-item{
      text-align: center;
      margin:0.25rem 0;
  }
  .navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
      background-image:url("data:image/svg+xml,<svg viewBox='0 0 47.971 47.971' xmlns='http://www.w3.org/2000/svg'><path fill='rgba(236, 35, 73, 1)' stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88 c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242 C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879 s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z'/></svg>");
      background-size: 20px;
  }    

  
}
/*#endregion */

/*#region Slider */
.anim-slide{
font-family: Ubuntu;    
font-size: 10px;
}


.anim-slider{
text-align: left;
}
.overlay-text{font-size: 22.8em;bottom:0.3em;line-height: 1;left:0.35em;/* z-index: -1; */text-transform: uppercase;font-weight: bold;color:#f4f4f4;}

.slider-title{font-size: 7.4em;top:1.8em;line-height: 1;font-weight: bold;left:2.7em;color:#111111;width: 40%;z-index: 2;}
.slider-subtitle{font-size: 2.4em;top:12.6em;left:8.7em;width: 27%;color:#666666;line-height: 1.2;z-index: 2;}
.circle-3,.circle-2,.circle-1{border-radius: 50%;box-sizing: border-box;overflow: hidden;z-index: 1;}
.circle-3 span,.circle-2 span,.circle-1 span{
position: absolute;
left:0;
top:0;
width:100%;      
height: 100%;
animation:rotate 10s infinite linear;
}
.circle-3 span{

transform: rotate(0deg);
}
.circle-2 span{

transform: rotate(30deg);
}
.circle-1 span{

transform: rotate(60deg);
}

.circle-3 {
  width: 22.5em;
  height: 22.5em;
  left: 72em;
  top: 45em;
}
.circle-2 {
  width: 31.2em;
  height: 31.2em;
  left:45em;
  top: 29.5em;
}
.circle-1 {
  width: 39em;
  height: 39em;
  left: 59em;
  top: 8.8em;
}
.slide3 .circle-3 {
    top: 8em;
}
.slide3 .circle-2{

left: 54em;

top: 23em;
}
.slide3 .circle-1{

left: 77em;

top: 25em;
}
.blurred-circle-top-right{
left:9.5em;
top:6em;
width:5em;
height:5em;

}
.blurred-circle-bottom-right{
left:123em;
top:21em;
width:5em;
height:5em;
}
.blurred-circle-left-bottom{
left:26em;
top:60em;
width:5em;
height:5em;
}
.anim-slide-this .blurred-circle-left-bottom.fadeInRight,
.anim-slide-this .blurred-circle-bottom-right.fadeInRight,
.anim-slide-this .blurred-circle-top-right.fadeInRight{
  animation-duration: 6s;
}
.anim-dots span {
width: 22px;
height: 2px;
left: 0;
border-radius: 2px;
margin:0 2px 0 0;
box-shadow: none;
transition:all 0.5s ease-in;
background: #e4e4e4;
background: -moz-linear-gradient(left,  #e4e4e4 50%, #d60f1e 50%);
background: -webkit-linear-gradient(left,  #e4e4e4 50%,#d60f1e 50%);
background: linear-gradient(to right,  #e4e4e4 50%,#d60f1e 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#d60f1e',GradientType=1 );
background-position: 0% 0;
    background-size: 205%;
}

.anim-dots {
  left: 13.7em;
  bottom: 20em;
  text-align: left;
  width: auto;
  z-index: 1000;
}
.anim-dots span.anim-dots-this{
width: 60px;
animation: widthSlide 5s linear;

}
@keyframes widthSlide{
  0%{
    background-position: 0% 0;
  }
  100%{
    background-position: -100% 0;
  }
}
.anim-dots span.anim-dots-this:after{
display:none;
}
@media(max-width: 767px){
  .anim-dots span{
    width:12px;
  }
  .anim-dots span.anim-dots-this{
    width:40px;
  }
  .anim-dots {
    left: 8em;
    bottom: 26em;
    font-size: 3px;
  }
.anim-slider{
  height:96vh;
  height: calc(100vh - 60px);
  margin-top: 40px;
}
.anim-slide{
font-size: 6px;
}

.slider-title{
font-size: 7.4em;      
left:1em;
top:1.2em;
}
.slider-subtitle{
font-size: 3em;
top:8.5em;
left:2.7em;
width: 60%;
}
.circle-3,.circle-2,.circle-1{
  margin-left: -40%;
    margin-top: 50%;
    font-size: 4.5px;
}
.slide3 .circle-3,
.slide3 .circle-2,
.slide3 .circle-1{
  margin-left: -47%;
}
.blurred-circle-bottom-right {
left: 100em;
top: 13em;
}
.blurred-circle-left-bottom {
  left: 20em;
  top: 65em;
}
.blurred-circle-top-right {
  left: 2.5em;
}
.overlay-text{
  bottom:0.12em;
  font-size: 9em;
}
}
@media(max-width:359px){
  .anim-slide{
    font-size: 5px;
  }
}
/*#endregion */

/*#region home */
#home .container .home-left {
  position: absolute;
  left: -375px;
  bottom: -20px;
  width:270px;
  height: 270px;
}
@media(max-width:767px){
  #home .container .home-left{
      left:-210px
  }
}
#home .container .home-left img{
  
  -webkit-animation: rotate 10s infinite linear;
  
          animation: rotate 10s infinite linear;
}
.home-right-box {
  position: relative;
}
.home-right-box .banner-right {
  
  position: absolute;
  -webkit-transform:rotate(0deg);
      -ms-transform:rotate(0deg);
          transform:rotate(0deg);
  right: -120px;
  bottom: 10px;
  width: 260px;
  height: 260;
}
.home-right-box .banner-right img{
  -webkit-animation: rotate 12s infinite linear;
          animation: rotate 12s infinite linear;
}
.home-right-box  .banner-left {
  display: none;
}
@media(min-width:768px){
  .home-right-box  .banner-left  {
      position: absolute;
      display:block;
      left: -30px;
      bottom: -60px;
      width: 214px;
      height: 214px;
  }
  .home-right-box  .banner-left  img{
      
      -webkit-animation: rotate 9s infinite linear;
      
              animation: rotate 9s infinite linear;
  }
  
  .home-right-box .banner-right  {
     
      position: absolute;
      top: -50px;
      z-index: -1;
      right: -50px;
      width:380px;
      height: 380px;
  }
   .home-right-box .banner-right img{
        -webkit-animation: rotate 10s infinite linear;
                animation: rotate 10s infinite linear;
   }
}

.video-box{
  display: block;
  position: relative;
}

.video-text {
  font-size: 0.75rem;
  color: #333333;
  display: inline-block;
  background: #ffffff;
  position: absolute;
  right: 0;
  bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 3rem 0 0 3rem;
}
.play-icon {
  width: 2.125rem;
  height: 2.125rem;
  line-height: 2.125rem;
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-align: center;
  background: #fff;
  border-radius: 50%;
}

.play-icon img{
  position: absolute;
  left: 0.71rem;
  top: 0.55rem;

}

.video-box-small{
  display: block;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  max-width: 350px;
}
.video-box-small .play-icon {
  top: auto;
  bottom: 1.25rem;
  right: 1.25rem;
}
@media(max-width:767px){
  #home{
      padding-top: 6rem;
  }
  #home .slick-list {
      margin: 10px -30px 10px 0;
      margin-bottom: 6.5rem;
  }
  #home .slick-track .slick-slide{
      margin-right: 20px;
  }
  .video-box{
      width: 284px;
      margin-top:1.5rem;
  }
  .video-text {
      padding:0.5rem 1rem;
  }
  #home .container:before {
      left: -87px;
      bottom: 46px;
      width: 136px;
      height: 136px;
  }
}
.slick-track{
  margin-left: 0;
}
.slick-track img{
  display: inline-block;
}
#projects .tab-content:not(.active){
display: none !important;
}

#projects .tab-links{
margin:30px 0;
}
#projects .tab-links a{
display: inline-block;
padding: 0 30px;
line-height: 34px;
border-radius:50px;
color:#231f20;
font-weight: 500;
text-decoration: none;
font-size:13px;
border:1px solid #c4c4c4;
}
#projects .tab-links a.gradient-bg{
color:#fff;
padding:1px 31px;
border:none;

}
#projects .tab-content > div{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
#projects .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease-out;
}

#projects .project-box:hover .img-hover {
  opacity: 1;
}
.project-box  h3{
  color: #231f20;
}
.project-box p{
margin-bottom: 0;
color: #231f20;
}
.project-box{
margin-bottom: 40px;
max-width: 350px;
}
.project-box .tag {
font-size: 12px;
color: #d60f1e;
}
.slick-dots li button {
  width: 8px;
  height: 8px;
  padding: 0;
  border: 1px solid #cccccc;
  border-radius: 50%;
}

.slick-dots li button:before {
  width: 8px;
  height: 8px;
  line-height: 8px;
  content: "";
}

.slick-dots li {
  margin: 0;
}

li.slick-active button {
  background: #EC2349;
  border-color: #EC2349;
  border-radius: 50%;
}

ul.slick-dots {
  bottom: -40px;
}

@media(max-width:767px){
  #projects {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
  }
  #projects .tab-links a{
    margin-bottom: 5px;
  }
}
@media(max-width:767px){
 
  #projects .tab-links a{
   padding:0 18px;
  }
  #projects .tab-links a.gradient-bg{
    padding:0 19px;
  }
}
/*#endregion home */

/*#region what we do*/
section#what-we-do .container .what-we-do-left {
  
  width: 115px;
  position: absolute;
  left: -210px;
  top: -175px;
}
section#what-we-do .container .what-we-do-left img{
  -webkit-animation: rotate 11s infinite linear;
          animation: rotate 11s infinite linear;
}
section#what-we-do .container .what-we-do-right {
  width: 236px;
  position: absolute;
  right: -300px;
  height: 236px;
  top: 0;
}
section#what-we-do .container .what-we-do-right  img{
  animation: rotate 11s infinite linear;
}

#what-we-do{
position:relative;
}
.dot-hover{
position:absolute;
top:0;
left:0;
width:20px;
height:20px;
border-radius:50%;
transform:translate(0,0);
transition:transform 0.3s;
-webkit-transition-timing-function: cubic-bezier(0.000, 0.630, 0.325, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.000, 0.630, 0.325, 1.005);
   -moz-transition-timing-function: cubic-bezier(0.000, 0.630, 0.325, 1.005);
     -o-transition-timing-function: cubic-bezier(0.000, 0.630, 0.325, 1.005);
        transition-timing-function: cubic-bezier(0.000, 0.630, 0.325, 1.005); /* custom */
}
#what-we-do ul{
padding-left:0;
margin-top:64px;
list-style: none;
}
#what-we-do li{  
margin-bottom:64px;
display: inline-block;
width: 450px;
}

#what-we-do li span{
display: inline-block;
position: relative;
cursor: default;
line-height: 1;

}

#what-we-do li img{
display:block;
}


#what-we-do li span:after {
position: absolute;
top:0;
left:0;
background-repeat: no-repeat;
background-position: left center;
content:"";
width:0%;
height: 100%;
background-image:url(../img/commercials.svg);
transition:all 0.3s ease-out;
background-size: auto 100%;
}
#what-we-do li:nth-of-type(2) span:after {
background-image:url(../img/promos.svg);
}
#what-we-do li:nth-of-type(3) span:after {
background-image:url(../img/serials.svg);
}
#what-we-do li:nth-of-type(4) span:after {
background-image:url(../img/csr.svg);
}
#what-we-do li:nth-of-type(5) span:after {
background-image:url(../img/adcampaign.svg);
}
#what-we-do li:nth-of-type(6) span:after {
background-image:url(../img/investor-relation-films.svg);
}
#what-we-do li:nth-of-type(7) span:after {
background-image:url(../img/corporate-films.svg);
}
#what-we-do li:nth-of-type(8) span:after {
background-image:url(../img/training-and-regional-videos.svg);
}

#what-we-do span:hover:after{
width:100%;
}

@media(max-width:767px){
  #what-we-do ul{

    margin-top: 32px;
  }
  section#what-we-do{
      padding-top: 4rem;
  }
  section#what-we-do .title{
      margin-bottom: 1.5rem;
  }
  #what-we-do li {
    margin-bottom: 32px;
  }
  #what-we-do li img
  {
    height: 24px;
    width:auto;
  
  }

    #what-we-do li:nth-of-type(1) img,
    #what-we-do li:nth-of-type(2) img,
    #what-we-do li:nth-of-type(3) img,
    #what-we-do li:nth-of-type(4) img,
    #what-we-do li:nth-of-type(6) img {
    height: 20px;
    }

    
    
}
@media(max-width:320px){
  #what-we-do li img
{
height: 20px;

}

#what-we-do li:nth-of-type(1) img,
#what-we-do li:nth-of-type(2) img,
#what-we-do li:nth-of-type(3) img,
#what-we-do li:nth-of-type(4) img,
#what-we-do li:nth-of-type(6) img {
height: 16px;
}
}
/*#region media */

section#media .container .media-left-big-bg {
  
  
 
  position: absolute;
  left: -206px;
  top: -148px;
  z-index: -1;
}
section#media .container .media-left-big-bg span{
border-radius: 50%;
display: block;
width: 567px;
height: 567px;
  -webkit-animation: rotate 13s infinite linear;
          animation: rotate 13s infinite linear;
}
section#media .container .media-small-bg{
  
  
  position: absolute;   
  right: -190px;
  bottom: -70px;
  z-index: -1;
}
section#media .container .media-small-bg span{
display: block;
  width: 148px;
  height: 148px;
   -webkit-animation: rotate 8s infinite linear;
           animation: rotate 8s infinite linear;
           
  border-radius: 50%;
}
section#media .card{
  max-width: 256px;
  margin:0.5rem 0;
  text-align: left;
  position: relative;
}
section#media .card .card-body{
  min-height: 180px;
}
section#media .card .card-img-top-hover{
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  transition: all 0.4s ease-out;
}
section#media .card .date{
color:#777677;
position: absolute;
bottom:12px;
}
section#media .card a{
  color:inherit;
}
section#media .card:hover .card-img-top-hover{
  opacity: 1;
}
section#media .title-white {
  margin-bottom: 1.5rem;
}

section#media {
  margin-top: 9.5rem;
}
section#media .card .btn-primary, section#media .card .btn-primary:hover, section#media .card .btn-primary:focus {
  color: #fff;
  background-color: #3D00F8;
  border-color: #3D00F8;
}
#media button.slick-arrow {
  background-color: #fff;
  bottom: 0;
  top: auto;
  left: 50%;
  width: 50px;
  transform: translateY(150%);
  height: 50px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 4px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

#media button.slick-prev.slick-arrow {
  transform: translate(-120%,150%);
}


.slick-next:before, .slick-prev:before {
  display: none;
}

button.slick-prev.slick-arrow {
  background: url(../img/arrow-left.svg);
}
button.slick-next.slick-arrow {
  background: url(../img/arrow-right.svg);
}
button.slick-prev.slick-arrow:hover {
  background: url(../img/arrow-left-active.svg);
}
button.slick-next.slick-arrow:hover {
  background: url(../img/arrow-right-active.svg);
}
@media(max-width:767px){
  section#media{
      padding-top: 0rem;
  }
  section#media .card{
      margin-right: 20px;
  }
  section#media .slick-list{
      margin-right:-30px;
  }
  section#media .container:before {
      width: 330px;
      height: 406px;
      left: -50px;
      top: -110px;
  }
}
/*#endregion*/
/*#region about us */
#about-us p {
max-width: 400px;
color: #000;
line-height: 1.6;
}
.about-img{
  position: relative;
}
.img-about-bg{
position: absolute;
-webkit-animation: rotate 30s infinite linear;
animation: rotate 30s infinite linear;
z-index: -1;
width: 468px;
height: 468px;
left: 0;
top: 0;
}
.about-img span {
border-radius: 50%;   
display: block;
position: absolute;

}
.about-img span:first-child{
width: 70%;
height: 70%;
top:-32px;
left:0;
opacity: 0.2;

}
.about-img span:nth-child(2){
width: 40%;
height: 40%;
opacity: 0.1;
right: -15px;
bottom:0;
}
.about-img span:nth-child(3){
width: 25%;
height: 25%;
left: -10%;
bottom: 21%;
}

#about-us p{
  font-size:18px;
  line-height: 1.8;
}
@media(max-width:767px){
  #about-us{
      padding:6.5rem 0 0 0;
  }
  #about-us p{

    font-size: 14px;
  }
  .img-about-bg{
    width: 90%;
    height: 90%;
    left:5%;
    top:5%;
  }
}
/*#endregion*/
/*#region Clients */
section#clients .container .clients-left{
  display: none;
}
@media(min-width:768px){
  section#clients .container .clients-left{
      position: absolute;
      display: block;
      width: 120px;
      left: -250px;
      bottom: -160px;
  }
  section#clients .container .clients-left img{
      -webkit-animation: rotate 10s infinite linear;
              animation: rotate 10s infinite linear;
  }
}
section#clients .container .contact-right{
   display:none;
}
@media(max-width:767px){
  section#clients {
      
      padding-top: 4.5rem;
  }
  section#clients .container .contact-right {
      position: absolute;
      display:block;
      width: 55px;
      right:-20px;
      top: 20px;
  }
}

#clients .title{
  margin-bottom: 2rem;
}
#clients .slick-slide{
  vertical-align: middle;
  display: inline-block;
  float:none;
  text-align: center;
}
/*#endregion */
/*#region footer*/
.call-icon{
  margin-bottom: 0.5rem;
}
.call-icon:before {
  content: url(../img/call-icon.svg);
  
  width: 18px;
  display: inline-block;
  margin-right: 4px;
}
.email-icon:before {
  content: url(../img/email-icon.svg);
  width: 18px;
  display: inline-block;
  margin-right: 4px;
}
.social-icons a {
  display: inline-block;
  color: #999;
  font-size: 19px;
  margin: 10px;
  padding: 10px;
}
@media(min-width:768px){
  .social-icons a {
      display: inline-block;
      color: #999;
      font-size: 19px;
      padding:0;
      margin: 0 10px;
      
  }
  #contact-us .container:after {
      content: url(../img/contact-right.svg);
      -webkit-animation: rotate 12s infinite linear;
              animation: rotate 12s infinite linear;
      position: absolute;
      width: 150px;
      right: -210px;
      z-index: -1;
      bottom: -150px;
  }
}
@media(max-width:767px){
  #contact-us{
      padding-top: 4.5rem;
  }
}

footer{
  background:#282828;
}
/*#endregion*/
